MONGO_URI=mongodb+srv://myuser:mypassword@cluster0.example.mongodb.net/localdev?appName=Cluster0
TEST_MONGO_URI=mongodb+srv://myuser:mypassword@cluster0.example.mongodb.net/localtest?appName=Cluster0
CLERK_SECRET_KEY=<put the secret key here>
CLERK_PUBLISHABLE_KEY=pk_test_ZmFpdGhmdWwtc2Vhc25haWwtNzguY2xlcmsuYWNjb3VudHMuZGV2JA
PORT=5001